<!DOCTYPE html>
<html>
<head>
  <title>Cestforte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag   'site' %>
  <%= stylesheet_link_tag 'products' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body>
<% if has_order? %>
  <div class="cart">
    <b><%= current_order.total_items%>X</b>
    <%= link_to number_to_currency(current_order.total_before_tax), basket_path %>
    <img src="<%= asset_path 'carticon.png'%>" >
  </div>
<% end %>

<div class="container">
  <div class="page-header text-center">
    <h1> <a href="\"></a><img src="<%= asset_path 'logoAccent.png' %>"></a></h1>
      <ul class="navigation">
        <a href="/products"><li>Store </li></a>||
        <li>Look_Book </li>||
        <li>About </li>||
        <li>Contact </li>
    </ul>  
  </div>
</div>


<%= yield %>

</body>
</html>
